:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  width: 100%;
  background-color: #f6f7fb;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 95vh;
}
